In [1]:
import numpy as np
import pandas as pd

In [2]:
enrollments = pd.read_csv('dataset/enrollments.csv')
print(f'The shape of enrollments data is: {enrollments.shape}')
enrollments.head()

The shape of enrollments data is: (1640, 7)

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [3]:
engagement = pd.read_csv('dataset/daily_engagement.csv')
print(f'The shape of engagement data is: {engagement.shape}')
engagement.head()

The shape of engagement data is: (136240, 6)

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

In [4]:
submissions = pd.read_csv('dataset/project_submissions.csv')
print(f'The shape of submissions data is: {submissions.shape}')
submissions.head()

The shape of submissions data is: (3642, 6)

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

## Check types of data in each Dataframe and convert to appropriate types

### enrollments dataset

In [5]:
enrollments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   int64
 1   status          1640 non-null   object
 2   join_date       1640 non-null   object
 3   cancel_date     988 non-null    object
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(3)
memory usage: 67.4+ KB

In [6]:
# Convert columns to desired data types
enrollments['join_date'] = pd.to_datetime(enrollments['join_date'])
enrollments['cancel_date'] = pd.to_datetime(enrollments['cancel_date'])
enrollments = enrollments.astype({'status': str})
enrollments = enrollments.astype({'days_to_cancel': int}, errors = 'ignore')
enrollments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   int64
 1   status          1640 non-null   object
 2   join_date       1640 non-null   datetime64[ns]
 3   cancel_date     988 non-null    datetime64[ns]
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 67.4+ KB

In [7]:
enrollments.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False

### engagement dataset

In [8]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136240 entries, 0 to 136239
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   acct                   136240 non-null  int64
 1   utc_date               136240 non-null  object
 2   num_courses_visited    136240 non-null  float64
 3   total_minutes_visited  136240 non-null  float64
 4   lessons_completed      136240 non-null  float64
 5   projects_completed     136240 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.2+ MB

In [9]:
# Convert columns to desired data types
engagement['utc_date'] = pd.to_datetime(engagement['utc_date'])
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136240 entries, 0 to 136239
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   acct                   136240 non-null  int64
 1   utc_date               136240 non-null  datetime64[ns]
 2   num_courses_visited    136240 non-null  float64
 3   total_minutes_visited  136240 non-null  float64
 4   lessons_completed      136240 non-null  float64
 5   projects_completed     136240 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 6.2 MB

In [10]:
engagement.head()

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

### submissions dataset

In [11]:
submissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   creation_date     3642 non-null   object
 1   completion_date   3636 non-null   object
 2   assigned_rating   3636 non-null   object
 3   account_key       3642 non-null   int64
 4   lesson_key        3642 non-null   int64
 5   processing_state  3642 non-null   object
dtypes: int64(2), object(4)
memory usage: 170.8+ KB

In [12]:
submissions['creation_date'] =  pd.to_datetime(submissions['creation_date'])
submissions['completion_date'] =  pd.to_datetime(submissions['completion_date'])
submissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   creation_date     3642 non-null   datetime64[ns]
 1   completion_date   3636 non-null   datetime64[ns]
 2   assigned_rating   3636 non-null   object
 3   account_key       3642 non-null   int64
 4   lesson_key        3642 non-null   int64
 5   processing_state  3642 non-null   object
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 170.8+ KB

In [13]:
submissions.head()

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

### Some questions to answer

- For each of these three tables, find the number of rows in the table and <br>
- the number of unique students in the table.

In [14]:
# enrollment table
n_rows = enrollments.shape
en_unique_val = enrollments['account_key'].nunique()
print(f'The enrollment table has {n_rows[0]} numbers of rows')
print(f'The enrollment table has {en_unique_val} numbers of unique students')

The enrollment table has 1640 numbers of rows
The enrollment table has 1302 numbers of unique students

In [15]:
# engagement table
n_rows = engagement.shape
en_unique_val = engagement['acct'].nunique()
print(f'The engagement table has {n_rows[0]} numbers of rows')
print(f'The engagement table has {en_unique_val} numbers of unique students')

The engagement table has 136240 numbers of rows
The engagement table has 1237 numbers of unique students

In [16]:
# submissions table
n_rows = submissions.shape
en_unique_val = submissions['account_key'].nunique()
print(f'The submissions table has {n_rows[0]} numbers of rows')
print(f'The submissions table has {en_unique_val} numbers of unique students')

The submissions table has 3642 numbers of rows
The submissions table has 743 numbers of unique students

#### Problems
- Why are there more students in the enrollment table than any other tables ? <br>
- Why is the student account column name diffrent inthe engagement table compared to the other two ?

In [17]:
# Rename the acct column in the engagement table
engagement.rename(columns={'acct': 'account_key'}, inplace=True)
engagement.head()

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

### Investigating First Problem 
- Why are students missing from daily-engagement ?
##### Identify surprising surprising data points
- Any enrollment record with no corresponding engagement data
#### Print out one or a few surprising data points

In [18]:
# No engagement student
enrolled_student = enrollments.account_key.unique().tolist()
engaged_student = engagement.account_key.unique().tolist()
enrolled_not_engaged_student = [x for x in enrolled_student if x not in engaged_student]
print(f'The numbers of student with no engagement data is: {len(enrolled_not_engaged_student)}')

The numbers of student with no engagement data is: 65

In [19]:
# no engagement student data
no_engagement_data = enrollments[enrollments['account_key'].isin(enrolled_not_engaged_student)]
print(f'The shape of no engagement data is {no_engagement_data.shape}')
no_engagement_data.head()

The shape of no engagement data is (71, 7)

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
65,1219,canceled,2014-11-12,2014-11-12,0.0,False,True
75,871,canceled,2014-11-13,2014-11-13,0.0,False,True
193,1218,canceled,2014-11-15,2014-11-15,0.0,False,True
216,654,canceled,2014-12-04,2014-12-04,0.0,False,True
217,654,canceled,2014-12-04,2014-12-04,0.0,False,True

In [20]:
# no engagement student data
did_engagement_data = enrollments[enrollments['account_key'].isin(engaged_student)]
print(f'The shape of did engagement data is {did_engagement_data.shape}')
did_engagement_data.head()

The shape of did engagement data is (1569, 7)

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False

In [21]:
# Student with no angagement but with status not canceled with status 
no_engagement_data[no_engagement_data['status'] != 'canceled'].head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
1378,1101,current,2015-02-25,NaT,NaN,True,False

In [22]:
# Numbers of unique account keys with engagement
print(f' The numbers of unique account with engagement is {did_engagement_data.account_key.nunique()} ' )

 The numbers of unique account with engagement is 1237

### How do the numbers in the daily engagement table differ from student who pass the first project
**Only look at engagement from first week, and exclude student who cancel within a week.**
+ Get the list of student who hasn't canceled yet
+ Student who stayed enrolled for more than 7days

In [30]:
# Get the list of student who hasn't canceled yet
# Student who stayed enrolled for more than 7days
active_engaged_student = did_engagement_data[(did_engagement_data['days_to_cancel'] > 7) | (did_engagement_data['days_to_cancel'].isna())]
print(f'The shape of activly engaged student is {active_engaged_student.shape}')
print(f'While the numbers of distinct students involved is: {active_engaged_student.account_key.nunique()}')
active_engaged_student.head()

The shape of activly engaged student is (1223, 7)
While the numbers of distinct students involved is: 997

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False
5,448,canceled,2015-01-14,2015-01-27,13.0,True,True
6,448,canceled,2015-01-27,2015-03-10,42.0,True,True
10,429,canceled,2014-11-10,2015-03-10,120.0,False,True