In [2]:
import numpy as np
import pandas as pd

In [13]:
enrollments = pd.read_csv('dataset/enrollments.csv')
print(f'The shape of enrollments data is: {enrollments.shape}')
enrollments.head()

The shape of enrollments data is: (1640, 7)

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [14]:
engagement = pd.read_csv('dataset/daily_engagement.csv')
print(f'The shape of engagement data is: {engagement.shape}')
engagement.head()

The shape of engagement data is: (136240, 6)

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

In [15]:
submissions = pd.read_csv('dataset/project_submissions.csv')
print(f'The shape of submissions data is: {submissions.shape}')
submissions.head()

The shape of submissions data is: (3642, 6)

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

## Check types of data in each Dataframe and convert to appropriate types

### enrollments dataset

In [16]:
enrollments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   int64
 1   status          1640 non-null   object
 2   join_date       1640 non-null   object
 3   cancel_date     988 non-null    object
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(3)
memory usage: 67.4+ KB

In [25]:
# Convert columns to desired data types
enrollments['join_date'] = pd.to_datetime(enrollments['join_date'])
enrollments['cancel_date'] = pd.to_datetime(enrollments['cancel_date'])
enrollments = enrollments.astype({'status': str})
enrollments = enrollments.astype({'days_to_cancel': int}, errors = 'ignore')
enrollments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   int64
 1   status          1640 non-null   object
 2   join_date       1640 non-null   datetime64[ns]
 3   cancel_date     988 non-null    datetime64[ns]
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), datetime64[ns](2), float64(1), int64(1), object(1)
memory usage: 67.4+ KB

### engagement dataset

In [17]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136240 entries, 0 to 136239
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   acct                   136240 non-null  int64
 1   utc_date               136240 non-null  object
 2   num_courses_visited    136240 non-null  float64
 3   total_minutes_visited  136240 non-null  float64
 4   lessons_completed      136240 non-null  float64
 5   projects_completed     136240 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.2+ MB

In [ ]:
# Convert columns to desired data types
engagement['utc_date'] = pd.to_datetime(engagement['utc_date'])
engagement.info()

### submissions dataset

In [18]:
submissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   creation_date     3642 non-null   object
 1   completion_date   3636 non-null   object
 2   assigned_rating   3636 non-null   object
 3   account_key       3642 non-null   int64
 4   lesson_key        3642 non-null   int64
 5   processing_state  3642 non-null   object
dtypes: int64(2), object(4)
memory usage: 170.8+ KB